{% extends "digitalpaper/base.html" %}
{% load reader_tags %}

{% block menu %}
    <a id="zoomButton" href="#">Zoom</a>
    <a id="calendarButton" href="#">Publication: {{ publication|get_publication_date|date:"SHORT_DATE_FORMAT" }}</a>
{% endblock %}

{% block jqueryjs %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}digitalpaper/js/jquery.jdpicker.js"></script>
{% endblock %}

{% block readerjs %}
<script type="text/javascript">
jQuery(function() {
    var reader = new Reader({
        "publicationId": {{ publication.id }},
        "pageThumbnailHeight": {{ constants.PAPERPAGE_IMAGE_SMALL_HEIGHT }},
        "pageSmallThumbnailHeight": {{ constants.PAPERPAGE_IMAGE_EXTRASMALL_HEIGHT }},
        "error_message": "Oops !",
        "pageHeight": {{ constants.PAPERPAGE_IMAGE_PREVIEW_HEIGHT }},
        "imagesPerRow": {{ constants.PAPERPAGE_CROP_IMAGES_PER_ROW }},
        "imagesPerColumn": {{ constants.PAPERPAGE_CROP_IMAGES_PER_COLUMN }},
        "zoomFactor": {{ constants.PAPERPAGE_CROPPED_ZOOM_FACTOR }},
        "pageLimitedAccessImage": "{{ STATIC_URL }}digitalpaper/img/page-only-subscribers.png",
        "pageUnderConstructionImage": "{{ STATIC_URL }}digitalpaper/img/page-under-construction.png",
        "pageUnderConstructionImageSmallest": "{{ STATIC_URL }}digitalpaper/img/page-under-construction_smallest.png",
        
        {# Note: this is probably not a good idea to have these urls hard coded. #}
        "token": "{% url reader_token %}",
        "publication": "/app/publication/{id}/",
        "paper_page_resized": "/app/reader_page_resized/{id}/?format={format}&x={x}&y={y}",
        "paper_page_cropped": "",
        "reader_by_date": "/digitalpaper/reader/date/{date}/",
        "contentmodel": ""
    });

    jQuery('#calendarButton').val('{{ publication|get_publication_date|date:"Y/m/d" }}');
    jQuery('#calendarButton').bind('change', function(e) {
        var val = jQuery(this).val();
        val = val.replace(/\//gi, '-');
        location.href = reader.reader_by_date.replace('{date}', val);
    });

    jQuery('#calendarButton').jdPicker({
        'date_max' : '{{ latest_publication|get_publication_date|date:"Y/m/d" }}',
        'date_min' : '{{ first_publication|get_publication_date|date:"Y/m/d" }}'
    });
});
</script>

{% endblock %}
