{% load i18n reader_tags %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Web Reader Demo - {{ publication }}{% endblock %}</title>
    {% block readercss %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}digitalpaper/css/reader.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}digitalpaper/css/jdpicker.css" />    
    {% endblock %}
    <!--[if lt IE 8]>
    <style type="text/css">#evenSide, #oddSide { display: inline; zoom: 1; } </style>
    <![endif]-->
    <!--[if IE ]>
    <style type="text/css">
    #evenSide, #oddSide { cursor: url({{ STATIC_URL }}digitalpaper/img/zoom.cur); }
    .grab, .grabbing { cursor: move; }
    </style>
    <![endif]-->
    {% block extrahead %}{% endblock %}
</head>
<body>
{% block content %}
<div id="main">
<div id="menu">
{% block menu %}
    <a id="zoomButton" href="#">Zoom</a>
    <a id="calendarButton" href="#">Publication: {{ publication|get_publication_date|date:"SHORT_DATE_FORMAT" }}</a>
{% endblock %}
</div>
<div id="extra">{% block extra %}{% endblock %}</div>
<div class="book">
    <div id="bookPages">{% spaceless %}
        <div id="evenSide"><span class="pageInfo"></span></div><div id="oddSide"><span class="pageInfo"></span></div>
        <span id="previousCorner"><!-- --></span>
        <span id="nextCorner"><!-- --></span>

    <ul id="pagesBefore">
        <li><a id="firstButton" href="#"><!-- --></a></li>
        <li><a id="previousButton" href="#"><!-- --></a></li>
    </ul>
    <ul id="pagesAfter">
        <li><a id="lastButton" href="#"><!-- --></a></li>    
        <li><a id="nextButton" href="#"><!-- --></a></li>
    </ul>

    {% endspaceless %}</div>
</div>
{% block slider %}
<div id="pagesSlider">
    <a href="#" id="sliderPrev" onclick="return false;"><!-- --></a>
    <div id="innerPagesSlider">
        <div id="pagesList"></div>
    </div>
    <a href="#" id="sliderNext" onclick="return false;"><!-- --></a>
</div>
{% endblock %}
{% block switcher %}
<div id="bookSwitcher"></div>
{% endblock %}
{% endblock %}

{% block jqueryjs %}
    {% include "digitalpaper/_jquery.html" %}
{% endblock %}

{% block dynamicjs %}{% endblock %}

{% block readerjsonp %}
<!--script type="text/javascript" src="{{ STATIC_URL }}digitalpaper/js/config.js"></script-->
<!--script type="text/javascript" src="{% url reader_settings %}?format=jsonp&amp;jsonp=Config=ConfigFunc"></script-->

{% endblock %}

{% block readerjs %}
<script type="text/javascript" src="{{ STATIC_URL }}digitalpaper/js/reader.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}digitalpaper/js/page.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}digitalpaper/js/slideshow.js"></script>
<!--script type="text/javascript" src="{{ STATIC_URL }}digitalpaper/js/init.js"></script-->
<script type="text/javascript">
jQuery(function() {
    var reader = new Reader({
        "publicationId": {{ publication.id }},
        "pageThumbnailHeight": {{ constants.PAPERPAGE_IMAGE_SMALL_HEIGHT }},
        "pageSmallThumbnailHeight": {{ constants.PAPERPAGE_IMAGE_EXTRASMALL_HEIGHT }},
        "error_message": "Oops !",
        "pageHeight": {{ constants.PAPERPAGE_IMAGE_PREVIEW_HEIGHT }},
        "imagesPerRow": {{ constants.PAPERPAGE_CROP_IMAGES_PER_ROW }},
        "imagesPerColumn": {{ constants.PAPERPAGE_CROP_IMAGES_PER_COLUMN }},
        "zoomFactor": {{ constants.PAPERPAGE_CROPPED_ZOOM_FACTOR }},
        "pageLimitedAccessImage": "{{ STATIC_URL }}digitalpaper/img/page-only-subscribers.png",
        "pageUnderConstructionImage": "{{ STATIC_URL }}digitalpaper/img/page-under-construction.png",
        "pageUnderConstructionImageSmallest": "{{ STATIC_URL }}digitalpaper/img/page-under-construction_smallest.png",
        "token": "{% url reader_token %}",
        "publication": "/app/publication/{id}/", // TODO: DRY ALERT : i need a templatetag from the get_uri_template util
        "paper_page_resized": "/app/reader_page_resized/{id}/?format={format}&x={x}&y={y}",
        "paper_page_cropped": "/app/reader_page_resized/{id}/?format={format}&x={x}&y={y}&crop={crop}",
         /* "reader_by_date": get_uri_template("digitalpaper_reader_date"),
            "contentmodel": ""  */
    });

    jQuery('#calendarButton').val('{{ publication|get_publication_date|date:"Y/m/d" }}');
    jQuery('#calendarButton').bind('change', function(e) {
        var val = jQuery(this).val();
        val = val.replace(/\//gi, '-');
        location.href = Config.webservices.reader_by_date.replace('{date}', val);
    });

    jQuery('#calendarButton').jdPicker({
        'date_max' : '{{ latest_publication|get_publication_date|date:"Y/m/d" }}',
        'date_min' : '{{ first_publication|get_publication_date|date:"Y/m/d" }}'
    });
});
</script>

{% endblock %}
</div>
<div id="restrictedAccess" style="display: none;"><div>{% block restricted_access %}<p>Access to this functionality is restricted, please 
    <a href="{% url django.contrib.auth.views.login %}">log in</a> and try again</p>{% endblock %}</div></div>
<div id="contentmodelContent" style="display: none;"><div>{% block contentmodel_content %}{% endblock %}</div></div>
</body></html>
