{% load i18n %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Web Reader Demo - {{ publication }}{% endblock %}</title>
    {% block readercss %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL}}digitalpaper/css/reader.css" />
    {% endblock %}
</head>
<body>
<div>
<p id="hello_reader">
{% if user.is_authenticated %}
    Hello, {{ user }} !</p>
{% else %}
    You are not identified. Please <a href="{% url django.contrib.auth.views.login %}?next={{ request.path }}">log in</a>.
{% endif %}
</p>
</div>
<div class="book">
    <div id="bookPages">{% spaceless %}
        <div id="evenSide"></div><div id="oddSide"></div>
        <span id="previousCorner" href="#" style="background-image: url({{ MEDIA_URL }}digitalpaper/img/left-corner.png);"></span>
        <span id="nextCorner" href="#" style="background-image: url({{ MEDIA_URL }}digitalpaper/img/right-corner.png);"></span>
    {% endspaceless %}</div>
    
    <ul id="menu">
        <li><a id="zoomButton" href="#"><img src="{{ MEDIA_URL}}digitalpaper/img/button-zoom.png" alt="Zoom" /></a></li>
        <li><a id="firstButton" href="#"><img src="{{ MEDIA_URL}}digitalpaper/img/button-first.png" alt="First" /></a></li>
        <li><a id="previousButton" href="#"><img src="{{ MEDIA_URL}}digitalpaper/img/button-prev.png" alt="Previous" /></a></li>
        <li><a id="nextButton" href="#"><img src="{{ MEDIA_URL}}digitalpaper/img/button-next.png" alt="Next" /></a></li>
        <li><a id="lastButton" href="#"><img src="{{ MEDIA_URL}}digitalpaper/img/button-last.png" alt="Last" /></a></li>
    </ul>    
</div>
<div id="pagesSlider">
    <a href="#" id="sliderPrev" onclick="return false;">«</a>
    <div id="pagesList"></div>
    <a href="#" id="sliderNext" onclick="return false;">»</a>
</div>
<div id="bookSwitcher"></div>

{% block jqueryjs %}
<script type="text/javascript" src="{{ MEDIA_URL }}digitalpaper/js/jquery-1.4.2.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}digitalpaper/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}digitalpaper/js/jquery.DOMWindow.js"></script>
<script type="text/javascript">
$.noConflict();
</script>
{% endblock %}

<script type="text/javascript">
var publicationId = {{ publication.id }};
</script>

{% block readerjsonp %}
<script type="text/javascript" src="{{ MEDIA_URL }}digitalpaper/js/config.js"></script>
<script type="text/javascript" src="/{{ API_ROOT }}jsonp/reader/?jsonp=libeConfig=libeConfigFunc"></script>
{% endblock %}

{% block readerjs %}
<script type="text/javascript" src="{{ MEDIA_URL }}digitalpaper/js/reader.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}digitalpaper/js/page.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}digitalpaper/js/slideshow.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}digitalpaper/js/init.js"></script>
{% endblock %}

</body>
</html>
