body, html, .book *, p {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    position: relative;
    font-family: sans-serif;
}

img {
    border: 0;
}

html, body {
    background: white;
}

#main {
    width: 900px;
    background: white;
    margin-right: auto;
    margin-left: auto;
}

.book {
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
#pagesAfter, #pagesBefore {
    display: block;
    position: absolute;
    right: 2px;
    top: 225px;
    width: 48px;
    outline: 1px solid #CCC;
    height: 150px;
}

#pagesBefore {
    left: 2px;
    top: 225px;
}

#pagesAfter li, #pagesBefore li {
    display: block;
}

#pagesAfter a, #pagesBefore a {
    background-repeat: no-repeat;
    position: absolute;
    display: block;
}

#firstButton, #lastButton {
    width: 48px;
    height: 48px;
    top: 5px;
    right: 7px;      
}

#nextButton, #previousButton {
    width: 48px;
    height: 48px;
    top: 48px;
    right: 7px;
}

#nextButton, #lastButton {
    right: auto;
    left: 7px;
}

#firstButton {
    background-image: url(../img/button-first.png);
}

#lastButton {
    background-image: url(../img/button-last.png);
}

#nextButton, #sliderNext {
    background-image: url(../img/button-next.png);
}

#previousButton, #sliderPrev {
    background-image: url(../img/button-prev.png);
}

#bookPages {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    margin-top: 50px;
}
#evenSide, #oddSide {
    position: relative;
    display: inline-block;
    height: 100%;
    max-height: 500px;
    outline: 1px solid #CCC;
}
.pageInfo {
    position: absolute;
    bottom: -20px;
    left: 0;
    z-index: 50;
}
#oddSide .pageInfo {
    left: auto;
    right: 0;
    text-align: right;
}
.page {
    position: relative;
    display: none;
    height: 500px;
    overflow: hidden;
}
.page .area {
    position: absolute;
    display: block;
    background-color: black;
    opacity: 0;
    filter: alpha(opacity=0);
}

.page img {
    display: block;
}

.leftPage, .rightPage {
    background-color: white;
    width: 50%;
    height: 100%;
    display: inline-block;
}
.leftPage {
    background-position: left top;
}
.rightPage {
    background-position: right top;
}
.transitionPage {
    position: absolute;
    width: 0;
    top: 0;
    z-index: 44;
}
.transitionContainer {
    position: absolute;
    z-index: 44;
    top: 0;
}
#previousCorner, #nextCorner {
    position: absolute;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 30px;
    height: 26px;
    cursor: pointer;
    z-index: 45;
}
#previousCorner:focus, #nextCorner:focus {
    outline: none;
}
#previousCorner {
    left: 0;
    background-image: url(../img/left-corner.png);
}
#nextCorner {
    right: 0;
    background-image: url(../img/right-corner.png);
}
#zoomWindow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
    overflow: hidden;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    z-index: 94;
}
#zoomedPages, #HDGrid {
    position: absolute;
}
#leftPageZoomed, #rightPageZoomed {
    display: inline-block;
    width: 50%;
    height: 100%;
}
.grid {
    float: left;
    margin: 0; padding: 0; border: 0;
}
#DOMWindow {
    overflow: visible !important;
}

/* FIXME: absolute height */
#bookSwitcher {
    height: 150px;
}

#pagesSlider {
    margin: 15px 0;
}

#pagesSlider, #bookSwitcher, #innerPagesSlider {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

#pagesSlider, #innerPagesSlider {
    height: 50px;
    margin: 25px 0;
}

#bookSwitcher .pageNumber, #bookSwitcher .pageChannel {
    display: none;
}

#pagesList a {
    position: relative;
    border: 1px solid #CCC;
    margin: 10px 0;
}

#innerPagesSlider, #pagesSlider {
    height: 75px;
}

#pagesList .even {
    margin-left: 10px;
    border-right: none;
}

#pagesList .pageNumber {
    position: absolute;
    top: auto;
    right: auto;
    left: 4px;
    bottom: -15px;
    font-size: 10px;
    color: #333;
}

#pagesList .even .pageNumber {
    right: 4px;
    left: auto;
}

#bookSwitcher a, #pagesList img, #bookSwitcher img {
    display: inline-block;
    height: 148px;
}

#bookSwitcher .bookName {
    display: none;
}

#pagesList img, #pagesList a {
    display: inline-block;
    height: 50px;
}

#pagesList img {
    display: block;
}

#pagesList {
    position: absolute;
    top: 0;
    left: 0;
}

#innerPagesSlider {
    margin: 0 50px;
    padding: 0 10px;
}

#sliderNext, #sliderPrev {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 15px;
    z-index: 2;
}

#sliderNext {
    right: 0;
}

#sliderPrev {
    left: 0;
}

p {
    padding: 0.5em;
}

#menu {
    height: 55px;
    width: 100%;
    border-bottom: 2px solid #CCC;
    overflow: hidden;
}

#menu .date_clearer {
    display: none;
}

.loading {
    background-image: url(../img/loading.gif);
    background-repeat: no-repeat;
    background-position: center center;
    min-width: 39px;
}

.warning {
    background-image: url(../img/warning.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 39px;
}
